
:root {
    --holberton-red: #e1484c;
  }

body{
    margin: 0;
    padding: 0;
  }

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
display: flex;
color: var(--holberton-red);
position: relative;
align-items: center;
}

.App-header img {
    width: 200px;
    height: 200px;
}

.App-header:after {
    content: "";
    position: absolute;
    border-bottom: solid 2px var(--holberton-red);
    bottom: 0;
    left: 0;
    width: 100%;
}
footer::before {
    content: "";
    position: absolute;
    border-bottom: solid 2px var(--holberton-red);
    left: 0;
    width: 100%;
}
.App-body {
    display: flex;
  }

  .App-body p {
    margin-left: 30px;
  }

  .App-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .App-footer p {
    font-style: italic;
  }
